<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button class="icono2" defaultHref="/tabs/tab3"></ion-back-button>
      <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="/assets/Historial.png" width="100%" alt="Historial de Compras">
  <div *ngIf="historialVentas.length > 0">
  <ion-card *ngFor="let venta of historialVentas" class="venta-card">
  <ion-card-header>
    <p class="nombre-venta">{{ venta.NombreVenta }}</p>
    <p>Fecha: {{ venta.Fecha | date:'short' }} <br>
    Monto: ${{ venta.Monto }} <br>
    Método de pago: {{ venta.MetodoPago }}</p>
  </ion-card-header>
  <ion-card-content>
      <ion-item *ngFor="let detalle of venta.Detalles" class="detalle-item">
        <ion-label class="detalle-item">
          Producto: {{ detalle.NombreProducto }}<br>
          Cantidad: {{ detalle.Cantidad }}<br>
          Precio: ${{ detalle.PrecioProducto }}
        </ion-label>
      </ion-item>
  </ion-card-content>
</ion-card>
  </div>

<ion-card *ngIf="historialVentas.length === 0">
  <ion-card-content>
    <p>No tienes compras registradas.</p>
  </ion-card-content>
</ion-card>
</ion-content>
