<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button class="icono2" defaultHref="/tabs/tab3"></ion-back-button>
      <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">p-settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="b1">Configuración</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ajusta tus preferencias y configuraciones de la aplicación.</p>      
    </ion-card-content>
  </ion-card>
</ion-content>
