.title {
  display: flex;
  align-items: center;     // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  gap: 8px;                // Espacio entre la imagen y el texto (ajústalo si quieres)
  text-align: center; // Asegura que el texto esté centrado
  
  .logo {
    width: auto; 
    height: 45px; // Mantiene proporciones
  }

  .title-text {
    font-size: 34px;
    font-weight: bold;
    color: #428855;
    justify-content: center; // Centra horizontalmente
  }
}

.boton{
    color: white;
    --border-radius: 12px;
    margin-top: 5px;
    width: 70%;
    height: 40px;
    justify-content: center;
    font-size: 13px;
    margin-left: 50%;
    transform: translateX(-50%); // Centra horizontalmente
}

.profile-image-container {
  background: #e2e9d800;
  border-radius: 12px;
  margin: 10px;
}

.profile-image-container2 {
  background: #e2e9d888;
  border-radius: 12px;
  margin: 10px;
}

.configuraciones{
  --background: #e2e9d800;
  margin: 5px 0px 0px 0px;
}

.Bienvenido2{
  margin: 20px 0px 0px 10px;
  font-size: 19px;
  font-weight: 500;
  color: #428855;
}

.Bienvenido{
  margin: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  color: #646464;
}