.title {
  display: flex;
  align-items: center;     // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  gap: 8px;                // Espacio entre la imagen y el texto (ajústalo si quieres)
  text-align: center; // Asegura que el texto esté centrado
  
  .logo {
    width: auto; 
    height: 45px; // Mantiene proporciones
  }

  .title-text {
    font-size: 34px;
    font-weight: bold;
    color: #428855;
    justify-content: center; // Centra horizontalmente
  }
}

.icono2 {
    color: #428855;
    font-size: 28px;
}

.productos{
  font-size: 20px;
  font-weight: bold;
  color: #428855;
  margin: 0 10px 0;
}

.direcccion{
  font-size: 15px;
  margin: 10px;
}
.direcccion1{
  font-size: 18px;
  font-weight: bold;
  color: #428855;
}

.direcccion2{
  font-size: 16px;
  color: #555;
}

.btn-back{
  background-color: #dbdbdb;
  border-radius: 50%;
  color: #428855;
  font-size: 26px;  
}

.item1 {
  --background: #e2e9d888;
  border-radius: 12px;
  margin: 10px;
}

.item2 {
  --background: #e2e9d800;
  border-radius: 12px;
  margin: 10px;
}

.items {
  background: #e2e9d888;
  border-radius: 12px;
  margin: 10px;
}

.text-item{
  font-size: 18px;
  color: #428855;
  font-weight: bold;
  margin: 0;
}

.text-total {
  font-size: 22px;
  color: #428855;
  font-weight: bold;
  margin: 0;
}