<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button class="icono2" defaultHref="/tabs/tab2"></ion-back-button>
      <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="/assets/metodo.png" alt="" width="100%">
  <p class="direcccion">Revisa los detalles de tu compra antes de proceder al pago.</p>
  <p class="productos">Dirección de Envío:</p>
  <ion-item class="item1" lines="none">
    <ion-label>
      <p class="direcccion2">{{ direccionUsuario }}</p>
    </ion-label>
  </ion-item>
  <h2 class="productos" >Productos:</h2>
  <ion-list  class="items">
    <ion-item class="item2" *ngFor="let item of carrito">
      <ion-label>
        <p class="text-item">{{ item.nombreproducto }}</p>
        <p>{{ item.descripcion }}</p>
        <strong>Cantidad: {{ item.cantidad }} — ${{ item.precio * item.cantidad }}</strong>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-label class="ion-text-end">
      <p class="text-total">Total: ${{ total }}</p>
    </ion-label>
  </ion-item><br>

  <div id="paypal-button-container"></div><br>
</ion-content>
