.title {
  display: flex;
  align-items: center;     // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  gap: 8px;                // Espacio entre la imagen y el texto (ajústalo si quieres)
  text-align: center; // Asegura que el texto esté centrado
  
  .logo {
    width: auto; 
    height: 45px; // Mantiene proporciones
  }

  .title-text {
    font-size: 34px;
    font-weight: bold;
    color: #428855;
    justify-content: center; // Centra horizontalmente
  }
}

.productos{
  font-size: 20px;
  font-weight: bold;
  color: #428855;
  margin: 0 10px 0;
}

.btn-back{
  background-color: #dbdbdb;
  border-radius: 50%;
  color: #428855;
  font-size: 26px;  
}