<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="/assets/registrate.png" alt="" width="100%">
  <form class="ion-padding" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <p>Por favor, completa los siguientes campos para registrarte.</p>
    <ion-item class="ion-margin-top">
      <ion-input label="Nombre" label-placement="floating" fill="outline" type="text" formControlName="nombre" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input label="Apellido Paterno" label-placement="floating" fill="outline" type="text" formControlName="appaterno" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input label="Apellido Materno" label-placement="floating" fill="outline" type="text" formControlName="apmaterno" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input label="Correo Electrónico" label-placement="floating" fill="outline" type="email" formControlName="correo" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input label="Contraseña" label-placement="floating" fill="outline" type="password" formControlName="contrasena" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input label="Dirección" label-placement="floating" fill="outline" type="text" formControlName="direccion" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input label="Fecha de Nacimiento" label-placement="floating" fill="outline" type="date" formControlName="fechanacimiento" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Imagen de perfil (opcional)</ion-label>
      <input type="file" accept="image/*" (change)="onFileChange($event)" />
    </ion-item>
    <div *ngIf="previewUrl" class="ion-text-center ion-margin-top">
      <img [src]="previewUrl" alt="Vista previa" style="max-width: 120px; border-radius: 50%;" />
    </div>
    <div class="button-container ion-margin-top">
      <ion-button class="boton" type="submit" [disabled]="registerForm.invalid">Registrarse</ion-button>
    </div>
    <div class="register-link ion-text-center">
      <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
    </div>
  </form>
</ion-content>