.title {
  display: flex;
  align-items: center;     // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  gap: 8px;                // Espacio entre la imagen y el texto (ajústalo si quieres)
  text-align: center; // Asegura que el texto esté centrado
  
  .logo {
    width: auto; 
    height: 45px; // Mantiene proporciones
  }

  .title-text {
    font-size: 34px;
    font-weight: bold;
    color: #428855;
    justify-content: center; // Centra horizontalmente
  }
}

.carro-vacio {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #428855;
}

.boton-cart{
    color: white;
    --border-radius: 12px;
    margin-top: 5px;
    width: 70%;
    height: 40px;
    justify-content: center;
    font-size: 13px;
    margin-left: 50%;
    transform: translateX(-50%); // Centra horizontalmente
}

.boton-cart2{
    color: white;
    --border-radius: 12px;
    width: 55%;
    height: 40px;
    font-size: 13px;
}


.lista {
  font-size: 18px;
  color: #428855;
  font-weight: bold;
}

.lista2 {
  font-size: 30px;
  color: #428855;
  font-weight: bold;
}

.total {
  text-align: right;
  margin-top: 16px;
  font-weight: bold;
  padding-right: 16px;
}

.producto{
  --background: #E2E9D8;
  --border-radius: 12px;
  margin: 10px;
  padding: 2px;
}

.product-image{
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 10px;
}
.flecha {
  width: 22px;
  margin-right: 10px;
}

.texto-t {
  width: 35%;
  font-size: 20px;
  color: #000;
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 400;
}

.texto-des{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.abajo{
  background-color: #ffffffd8;
}