<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carro de compras </ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="/assets/carrito.png" alt="" width="100%">
  <br><br><br>
  <p class="carro-vacio">
    Actualmente tu carrito se encuentra vacio <br><br>
    <ion-button class="boton-cart" routerLink="/tabs/tab1" expand="block">Volver a la tienda</ion-button>
  </p>
</ion-content>
