<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="/assets/inicio-sesion.png" alt="" width="100%">
  <form class="ion-padding" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <p>Por favor, ingrese sus credenciales para iniciar sesión.</p>
    <ion-item class="ion-margin-top">
      <ion-input label="Correo Electrónico" label-placement="floating" fill="outline" type="email" formControlName="correo" required></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-input label="Contraseña" label-placement="floating" fill="outline" type="password" formControlName="contrasena" required></ion-input>
    </ion-item><br>

    <div class="button-container">
      <ion-button class="boton" type="submit">Iniciar Sesión</ion-button>
    </div><br>
    <div class="register-link ion-text-center">
      <p>¿Olvidaste tu contraseña? <a routerLink="/forgot-password">Recuperar aquí</a></p>
      <p>O</p>
      <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    </div>
  </form>
</ion-content>
