.welcome-page {
  --background: url('/assets/welcome-background.jpeg') no-repeat center center / cover;

  .overlay {
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    padding: 450px 0 0 0; /* Ajusta el padding superior para centrar el contenido */
    background: rgba(0, 0, 0, .0); /* oscurece un poco la imagen para mejor visibilidad */

    .start-button {
      --background: #ffffff;
      color: #428855;
      width: 90%;
      height: 40px;
      --border-radius: 25px;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 12px;
    }
  }
}