<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- --> <img src="/assets/perfil.png" alt="" width="100%">
  <div class="profile-image-container ion-padding">
    <img [src]="profileImage" alt="Foto de perfil" class="profile-image" />
    <p class="Bienvenido">Bienvenido, {{ profileForm.value.nombre }} {{ profileForm.value.appaterno }} </p>
  </div>
  <p class="Bienvenido2">Información de tu perfil:</p>
  <div class="profile-image-container2 ion-padding">
    <ion-item class="datos">
      <ion-label>
        <h3>Nombre:</h3>
        <p>{{ profileForm.value.nombre }} {{ profileForm.value.appaterno }} {{ profileForm.value.apmaterno }}</p>
      </ion-label>
    </ion-item>
    <ion-item class="datos">
      <ion-label>
        <h3>Correo:</h3>
        <p>{{ profileForm.value.correo }}</p>
      </ion-label>
    </ion-item>
    <ion-item class="datos">
      <ion-label>
        <h3>Dirección:</h3>
        <p>{{ profileForm.value.direccion }}</p>
      </ion-label>
    </ion-item>
    <ion-item class="datos">
      <ion-label>
        <h3>Fecha de Nacimiento:</h3>
        <p>{{ profileForm.value.fechanacimiento | date: 'longDate' }}</p>
      </ion-label>
    </ion-item> 
  </div>

  <p class="Bienvenido2">Configuraciones:</p>
  <div class="profile-image-container2 ion-padding">
    <ion-item class="configuraciones" button detail="true" routerLink="/p-profile" *ngIf="!isEditing">
        <ion-icon name="create" slot="start"></ion-icon>
        <ion-label>Editar información de perfil</ion-label>
      </ion-item>
      <ion-item class="configuraciones" button detail="true" routerLink="/p-about" *ngIf="!isEditing">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label>Acerca de nuestra APP</ion-label>
      </ion-item>
      <ion-item class="configuraciones" button detail="true" routerLink="/p-profile" *ngIf="!isEditing">
        <ion-icon name="newspaper" slot="start"></ion-icon>
        <ion-label>Política de privacidad</ion-label>
      </ion-item>
      <ion-item class="configuraciones" button detail="true" routerLink="/p-profile" *ngIf="!isEditing">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-item>
      <ion-item class="configuraciones" button detail="true" routerLink="/p-delete" *ngIf="!isEditing">
        <ion-icon name="person-remove" slot="start"></ion-icon>
        <ion-label>Eliminar cuenta</ion-label>
      </ion-item>
  </div>

  <ion-button class="boton-cart" (click)="logout()">
    Cerrar Sesión <ion-icon name="log-out" slot="start"></ion-icon>
  </ion-button>

  <ion-card *ngIf="!userId">
    <ion-card-content>
      <p>No se pudo cargar la información del perfil. Por favor, inicia sesión nuevamente.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
