<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      <img src="/assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoggedIn; else profileView" class="login-container">
    <img src="/assets/Iniciar.png" alt="" width="100%">
    <p class="texto">Por favor, inicia sesión para ver tu perfil y poder realizar compras.</p><br>
    <ion-button class="boton-cart" expand="block" (click)="login()">Iniciar Sesión</ion-button><br>
    <ion-button class="boton-cart" expand="block" routerLink="/register">Registrarse</ion-button>
  </div>

  <ng-template #profileView><br>
    <img src="/assets/profile.png" alt="Profile Picture" class="profile-picture">
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Nombre</h2>
              <p>{{ userProfile.name }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Email</h2>
              <p>{{ userProfile.email }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Teléfono</h2>
              <p>{{ userProfile.phone }}</p>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/p-profile" [button]="true">
            <ion-icon color="" slot="start" name="person-circle-sharp" size="large"></ion-icon>
            <ion-label>Tu perfil</ion-label>
            <ion-note slot="end">
              <ion-icon name="chevron-forward"></ion-icon>
            </ion-note>
          </ion-item>
          <ion-item routerLink="/p-settings" [button]="true">
            <ion-icon color="" slot="start" name="settings-sharp" size="large"></ion-icon>
            <ion-label>Configuración</ion-label>
            <ion-note slot="end">
              <ion-icon name="chevron-forward"></ion-icon>
            </ion-note>
          </ion-item>
          <ion-item routerLink="/p-privacy" [button]="true">
            <ion-icon color="" slot="start" name="shield-checkmark-sharp" size="large"></ion-icon>
            <ion-label>Política de Privacidad</ion-label>
            <ion-note slot="end">
              <ion-icon name="chevron-forward"></ion-icon>
            </ion-note>
          </ion-item>
          <ion-item routerLink="/p-about" [button]="true">
            <ion-icon color="" slot="start" name="information-circle-sharp" size="large"></ion-icon>
            <ion-label>Acerca de</ion-label>
            <ion-note slot="end">
              <ion-icon name="chevron-forward"></ion-icon>
            </ion-note>
          </ion-item>
        </ion-list>
        <ion-button class="boton-cart" expand="block" (click)="logout()">Cerrar Sesión</ion-button>
  </ng-template>
</ion-content>
