.title {
  display: flex;
  align-items: center;     // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  gap: 8px;                // Espacio entre la imagen y el texto (ajústalo si quieres)
  text-align: center; // Asegura que el texto esté centrado
  
  .logo {
    width: auto; 
    height: 45px; // Mantiene proporciones
  }

  .title-text {
    font-size: 34px;
    font-weight: bold;
    color: #428855;
    justify-content: center; // Centra horizontalmente
  }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    padding: 16px;
}

.product-card {
    width: 99%;
    background-color: #E2E9D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.precio {
    font-size: 16px;
    font-weight: bold;
    color: #428855;
    margin-top: 5px;
}

.boton-cart{
    color: white;
    --border-radius: 12px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stars{
    color: #428855;
    margin-right: 2px;
}

.spam-card{
    width: 92%;
    background-color: #E2E9D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.contactanos-icono{
  font-size: 18px;
  color: #428855;
  margin-right: 5px;
}