.title {
  display: flex;
  align-items: center;     // Centra verticalmente
  justify-content: center; // Centra horizontalmente
  gap: 8px;                // Espacio entre la imagen y el texto (ajústalo si quieres)
  text-align: center; // Asegura que el texto esté centrado
  
  .logo {
    width: auto; 
    height: 45px; // Mantiene proporciones
  }

  .title-text {
    font-size: 34px;
    font-weight: bold;
    color: #428855;
    justify-content: center; // Centra horizontalmente
  }
}

.icono2 {
    color: #428855;
    font-size: 28px;
}

.texto-uno {
    font-size: 25px;
    font-weight: bold;
    color: #428855;
    text-align: center;
    width: 100%;
}

.texto-dos {
    font-size: 16px;
    text-align: justify;
    margin: 12px;
}